span {
    background-color: yellow;
}

/* .txt_grande,
h2 {
    display: inline;
} */

body {
    column-count: 3;
    /* column-width: 200px; */
    column-gap: 32px;
    column-rule: 4px dotted red;
}

/* .txt_principal,
.txt_p1 {
    column-span: all;
} */

.cabecalho {
    display: none;
}

@media screen and (max-width: 800px) {
    body {
        column-count: 1;
    }

    span {
        background-color: red;
    }
}

/* Personalizar configurações para impressão */
@media print {
    .cabecalho {
        display: block;
        column-span: all;
        background: aquamarine;
    }

    .txt_principal,
    .txt_p1 {
        column-span: all;
    }
    body {
        column-count: 2;
    }
}
