.card-like {
  max-width: 150px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #f2f2f2;
  padding: 10px;
  cursor: pointer;
}
.card-like img {
  width: 100%;
  opacity: 0;
}

.card-like.active img {
  opacity: 1;
}
