.container {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.container div {
    display: flex;
}

.boxAzul {
    padding: 20px;
    background: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 26px;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}
