@import url('reset.css');
@import url('variaveis.css');
@import url('botoes.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'CultiveMono';
    src: url('../assets/fonts/cultive_mono/CutiveMono-Regular.ttf')
        format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto 300px;
}

.navegacao {
    background-color: bisque;
    grid-column: span 2;
    height: 64px;
}

.banner {
    background-color: burlywood;
    grid-column: span 2;
    /* height: calc(100vh - 64px); */
}

.corpo {
    height: 800px;
}

.sidebar {
    background-color: darkgreen;
    padding: 16px;
}

.rodape {
    background-color: cornflowerblue;
    grid-column: span 2;
    height: 300px;
}

input {
    height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    border-color: var(--border-color-input);
    color: var(--text-color-input);
}

input::placeholder {
    color: var(--placeholder-color-input);
}
input:focus-visible {
    outline: 0;
    border-color: var(--border-color-input-focus);
}

input:disabled {
    border: none;
    background-color: rgb(221, 221, 221);
    cursor: not-allowed;
}

.navegacao:hover {
    background-color: blueviolet;
}

/* || BEM */

/* || Bloco */
.c_card {
    background-color: white;
    border-radius: 4px;
    padding: 16px;
}

/* || Elemento */
.c_card__titulo {
    font-size: 28px;
    margin: 8px 0;
}
.c_card__texto {
    margin: 8px 0;
}
.c_card__botao {
    height: 32px;
    border-radius: 4px;
    border: none;
    padding: 0 8px;
    background-color: blueviolet;
    color: white;
}

/* || Modificador */
.c_card__botao--desabilitado {
    height: 32px;
    border-radius: 4px;
    border: none;
    padding: 0 8px;
    background-color: #aaaaaa;
    color: gray;
    cursor: not-allowed;
}

code {
    font-family: 'CultiveMono';
}
